
.header {
  display: flex;
  justify-content: space-between;
}
.menu{display: flex; text-align: center; margin-top:-50px;}
.menu_list{
  flex-direction: column;
  max-width:960px;
}
h1 {margin-right: 50xp;}
body {
  padding: 0;
  margin: 0;
}

.content{display: inline-flex; flex-direction: column;}

a {
 text-decoration: none;
}
.logo{
  margin-left: 30px;
}

footer {
 width: 100%;
 background-color: #C0C0C0;
 text-align: center;
}
.container {
width: 100%;
   background-color: #ccebfd;
}

.menu_list {
 display: flex;
 list-style: none;
 font-weight: bold;
}

.menu_list-link {
 padding: 0px 20px;
 font-size: 20px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #e0e0e0;
}
.forma {
  order: 3;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.tablitsa {
  margin:10px;
  margin-top:50px;
  order: 1;
}
.links{order: 2;}






































































































